<!-- child.html -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>child</title>
</head>
<body>

	<table class="table">
		<thead>
			<tr>
				<th>商品ID</th>
				<th>商品名称</th>
				<th>商品价格</th>
				<th>库存数量</th>
				<th>产品描述</th>
				<th>加入购物车</th>
			</tr>
		</thead>
		<tbody>
			<volist name="prodts" id="prodts">
				<tr>
					<td>{$prodts.name}</td>
					<td>{$prodts.saveday}</td>
					<td>{$prodts.comefrom}</td>
					<td>{$prodts.brithday}</td>
					<td><a href="{:U('Index/index')}"><input type="button" value="加入购物车" class="btn"></a></td>
				</tr>
			</volist>
		</tbody>
	</table>

</body>
</html>